<!-- templates/form/fields/choicefield.hbs -->

<h2>Edit '{{this.subtypeName}}' field</h2>
<div class="textfield-container {{if this.validator.isDisplayNameInvalid 'has-error'}}">
  <button class="btn btn-link wysiwyg-toggle" {{on "click" this.toggleDisplayNameWYSIWYG}}>
    {{#if this.isDisplayNameWYSIWYGEnabled}}
      TEXT
    {{else}}
      WYSIWYG
    {{/if}}
  </button>
  <label class="control-label">
    Display Name
    {{#if this.isDisplayNameWYSIWYGEnabled}}
      <TinymceEditor @options={{this.editorOptions}} @value={{this.model.display_name}} />
    {{else}}
      <Input @type="text" id="field-display-name" placeholder="(Display Name)" @value={{this.model.display_name}} class="form-control input-sm" />
    {{/if}}
  </label>
</div>
<div class="{{if this.validator.isDataNameInvalid 'has-error'}}">
  <label class="control-label">
    Data Column Name
    <Input @type="text" id="field-data-name" placeholder="(Data Column Name)" @value={{this.model.data_name}} class="form-control input-sm" />
  </label>
</div>
<div class="{{if this.validator.isSlugInvalid 'has-error'}}">
  <label class="control-label">
    Slug
    <Input @type="text" id="field-slug" placeholder="(field-name)" @value={{this.autoSlug}} class="form-control input-sm" />
  </label>
</div>
<label>
  <Input @type="checkbox" id="field-required" @checked={{this.model.required}} />
  Required
</label>

<div class="{{if this.validator.isOptionListInvalid 'has-error'}}">
  <label class="control-label">
    Option List
    {{#if this.optionlistsReady}}
      <XSelect @value={{this.model.option_list.content}} @change={{this.optionListChanged}} class="form-control input-sm" as |xs|>
        <option>Choose `Option Set`...</option>
        {{#each this.optionlists as |optionlist|}}
          <xs.option @value={{optionlist}}>{{optionlist.name}}</xs.option>
        {{/each}}
      </XSelect>
    {{else}}
      Loading
    {{/if}}
  </label>
</div>
{{#if this.hasOptionGroups}}
  <label class="control-label">
    Option Group
    {{#if this.optiongroupsReady}}
      <XSelect @value={{this.model.option_group.content}} @change={{this.optionGroupChanged}} class="form-control input-sm" as |xs|>
        <option>Choose `Option Set`...</option>
        {{#each this.optiongroups as |optiongroup|}}
          <xs.option @value={{optiongroup}}>{{optiongroup.name}}</xs.option>
        {{/each}}
      </XSelect>
    {{else}}
      Loading
    {{/if}}
  </label>
{{/if}}
<label>
  Default Selected
  {{#if this.optionlistsReady}}
    {{#if this.supportsMultiValue}}
      <XSelect @value={{this.model.default_options.content}} @multiple={{true}} @change={{this.defaultOptionChanged}} class="form-control input-sm" as |xs|>
        <option>Choose `Default Option`...</option>
        {{#each this.options as |option|}}
          <xs.option @value={{option}}>{{option.name}}</xs.option>
        {{/each}}
      </XSelect>
    {{else}}
      <XSelect @value={{this.model.default_option.content}} @change={{this.defaultOptionChanged}} class="form-control input-sm" as |xs|>
        <option>Choose `Default Option`...</option>
        {{#each this.options as |option|}}
          <xs.option @value={{option}}>{{option.name}}</xs.option>
        {{/each}}
      </XSelect>
    {{/if}}
  {{else}}
    Loading
  {{/if}}
</label>

{{#if this.supportsMultiValue}}
  <label>
    Minimum Selections
    <Input @type="text" id="field-minimum-selections" @value={{this.model.minimum_selections}} class="form-control input-sm" />
  </label>
  <label>
    Maximum Selections
    <Input @type="text" id="field-maximum-selections" @value={{this.model.maximum_selections}} class="form-control input-sm" />
  </label>
{{else}}
  <label class="control-label">
    Default Text (unselected)
    <Input @type="text" id="field-default-text" placeholder="(Choose one)" @value={{this.model.default_text}} class="form-control input-sm" />
  </label>
{{/if}}

<div class="extras">
  <h4>Extras</h4>
  <label>
    Help Text
    <Input @type="text" id="field-help-text" placeholder="" @value={{this.model.help_text}} class="form-control input-sm" />
  </label>
  <label>
    CSS Class
    <Input @type="text" id="field-css-class" @value={{this.model.css_class}} class="form-control input-sm" />
  </label>
</div>

<button class="btn btn-primary" type="submit" {{on "click" this.doneEditingField}}>Done</button>
