<!-- templates/form/fields/textfield.hbs -->

<h2>Edit '{{this.subtypeName}}' field</h2>
<div class="textfield-container {{if this.validator.isDisplayNameInvalid 'has-error'}}">
  <button class="btn btn-link wysiwyg-toggle" {{on "click" this.toggleDisplayNameWYSIWYG}}>
    {{#if this.isDisplayNameWYSIWYGEnabled}}
      TEXT
    {{else}}
      WYSIWYG
    {{/if}}
  </button>
  <label class="control-label">
    Display Name
    {{#if this.isDisplayNameWYSIWYGEnabled}}
      <TinymceEditor @options={{this.editorOptions}} @value={{this.model.display_name}} @onChange={{this.updateDisplayName}}  />
    {{else}}
      <Input @type="text" id="field-display-name" placeholder="(Display Name)" @value={{this.model.display_name}}
             class="form-control input-sm"/>
    {{/if}}
  </label>
</div>
<div class="{{if this.validator.isDataNameInvalid 'has-error'}}">
  <label class="control-label">
    Data Column Name
    <Input @type="text" id="field-data-name" placeholder="(Data Column Name)" @value={{this.model.data_name}}
           class="form-control input-sm"/>
  </label>
</div>
<div class="{{if this.validator.isSlugInvalid 'has-error'}}">
  <label class="control-label">
    Slug
    <Input @type="text" id="field-slug" placeholder="(field-name)" @value={{this.autoSlug}}
           class="form-control input-sm"/>
  </label>
</div>
<label>
  <Input @type="checkbox" id="field-required" @checked={{this.model.required}} />
  Required
</label>

<div class="extras">
  <h4>Extras</h4>
  <label>
    Help Text
    <Input @type="text" id="field-help-text" placeholder="" @value={{this.model.help_text}}
           class="form-control input-sm"/>
  </label>
  <label>
    CSS Class
    <Input @type="text" id="field-css-class" @value={{this.model.css_class}} class="form-control input-sm"/>
  </label>
</div>

<button class="btn btn-primary" type="submit" {{on "click" this.doneEditingField}}>Done</button>
