<!-- templates/form/submissions.hbs -->

<div class="row formulaic-row">
  <div class="col-xs-8 preview-column">
    <h2>View Submissions</h2>

    {{#if this.hasSubmissions}}
      <nav class="navbar navbar-default formulaic-navbar">
        <div class="container-fluid">
          <div class="nav navbar-nav navbar-right formulaic-next-prev">
            {{#if this.previousPage}}
              <button type="button" class="btn btn-default navbar-btn" {{on "click" this.gotoPreviousPage}}>Previous</button>
            {{/if}}
            {{#if this.nextPage}}
              <button type="button" class="btn btn-default navbar-btn" {{on "click" this.gotoNextPage}}>Next</button>
            {{/if}}
          </div>
          <p class="nav navbar-text navbar-right">Page {{this.currentPage}} of {{this.pageCount}} (<em>{{this.count}} submissions</em>) </p>
          <div class="nav navbar-nav navbar-left formulaic-filters">
            {{#if this.sources}}
              <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
              <XSelect @value={{this.selectedSource}} @change={{this.changeSource}} as |xs|>
                <option>Select source to filter...</option>
                {{#each this.sources as |source|}}
                  <xs.option @value={{source.id}}>{{source.id}}</xs.option>
                {{/each}}
              </XSelect>
            {{/if}}
          </div>
        </div>
      </nav>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            {{#each this.columnHeaders as |header|}}
              <th>{{header}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each this.submissionDataList as |row|}}
            <tr>
              {{#each row as |column|}}
                <td>{{column}}</td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>

      <nav class="navbar navbar-default formulaic-navbar">
        <div class="container-fluid">
          <div class="nav navbar-nav navbar-right formulaic-next-prev">
            {{#if this.previousPage}}
              <button type="button" class="btn btn-default navbar-btn" {{on "click" this.gotoPreviousPage}}>Previous</button>
            {{/if}}
            {{#if this.nextPage}}
              <button type="button" class="btn btn-default navbar-btn" {{on "click" this.gotoNextPage}}>Next</button>
            {{/if}}
          </div>
          <p class="nav navbar-text navbar-right">Page {{this.currentPage}} of {{this.pageCount}} (<em>{{this.count}} submissions</em>) </p>
        </div>
      </nav>
    {{else}}
      <p>No submissions found</p>
    {{/if}}

    <button class="btn btn-danger" type="submit" {{on "click" this.closeSubmissions}}>Close</button>
  </div>
</div>
