<div class="{{if this.condition.validator.isInvalid 'warning'}}">
  <span class="glyphicon glyphicon-move"></span>

  <input type="hidden" value={{this.condition.position}} class="condition-position" />
  {{#if this.allFieldsReady}}
    <XSelect @value={{this.condition.field.content}} @action={{this.conditionFieldChanged}} @class="form-control input-sm" as |xs|>
      <option>Choose Field...</option>
      {{#each this.allFields as |field|}}
        <xs.option @value={{field}}>{{field.data_name}}</xs.option>
      {{/each}}
    </XSelect>
  {{else}}
    Loading
  {{/if}}

  <XSelect @value={{this.condition.operator}} @action={{this.conditionOperatorChanged}} @class="form-control input-sm" as |xs|>
    <option>Choose Field...</option>
    {{#each this.availableOperators as |operator|}}
      <xs.option @value={{operator.value}}>{{operator.name}}</xs.option>
    {{/each}}
  </XSelect>

  {{#if this.useTextWidget}}
    <input type="text" value={{this.condition.value}} class="form-control input-sm" />
  {{/if}}
  {{#if this.useSelectWidget}}
    <XSelect @value={{this.selectValue}} @action={{this.conditionSelectValueChanged}} @class="form-control input-sm" as |xs|>
      <option>Choose Field...</option>
      {{#each this.fieldOptions as |option|}}
        <xs.option @value={{option.id}}>{{option.name}}</xs.option>
      {{/each}}
    </XSelect>
  {{/if}}
  {{#if this.useNoWidget}}checked{{/if}}

  <button class="btn btn-xs btn-link" {{on "click" (fn this.clickedDeleteCondition this.condition)}}>
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</div>
