<li class="ember-view">
  <div class="{{if this.result.validator.isInvalid 'warning'}}">
    <span class="glyphicon glyphicon-circle-arrow-right"></span>

    <select class="form-control input-sm" {{on "change" this.resultActionChanged}}>
      <option>Choose Action...</option>
      {{#each this.availableActions as |action|}}
        <option value={{action.value}} selected={{if (this.fieldService.eq action.value this.result.action) "selected"
                                                     null}}>
          {{action.name}}
        </option>
      {{/each}}
    </select>

    {{#if this.allFieldsReady}}

      <select class="form-control input-sm" {{on "change" this.resultFieldChanged}}>
        <option>Choose Field...</option>
        {{#each this.availableFields as |field|}}
          <option value={{field.id}} selected={{if (this.fieldService.eq field.id this.result.field.id) "selected"
                                                   null}}>
            {{field.data_name}}
          </option>
        {{/each}}
      </select>

    {{else}}
      Loading
    {{/if}}

    {{#if this.showOptionGroups}}
      {{#if this.fieldHasOptionGroups}}

        <select class="form-control input-sm" {{on "change" this.resultOptionGroupChanged}}>
          <option>Choose Group...</option>
          {{#each this.optionGroups as |group|}}
            <option value={{group.id}} selected={{if (this.fieldService.eq group.id this.result.option_group.id)
                                                     "selected"
                                                     null}}>
              {{group.name}}
            </option>
          {{/each}}
        </select>
      {{else}}
        No groups in option list
      {{/if}}
    {{/if}}
    <button class="btn btn-xs btn-link" {{on "click" (fn this.clickedDeleteResult this.result)}}>
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
</li>
