<li>
  <div class="{{if this.result.validator.isInvalid 'warning'}}">
    <span class="glyphicon glyphicon-circle-arrow-right"></span>
    <XSelect @value={{this.result.action}} @change={{this.resultActionChanged}} class="form-control input-sm">
      {{#each this.availableActions as |action|}}
        <option value={{action.value}}>{{action.name}}</option>
      {{/each}}
    </XSelect>

    {{#if this.allFieldsReady}}
      <XSelect @value={{this.result.field.content}} @change={{this.resultFieldChanged}} class="form-control input-sm">
        <option>Choose Field...</option>
        {{#each this.availableFields as |field|}}
          <option value={{field}}>{{field.data_name}}</option>
        {{/each}}
      </XSelect>
    {{else}}
      Loading
    {{/if}}

    {{#if this.showOptionGroups}}
      {{#if this.fieldHasOptionGroups}}
        <XSelect @value={{this.result.option_group.content}} @change={{this.resultOptionGroupChanged}} class="form-control input-sm">
          <option>Choose Group...</option>
          {{#each this.optionGroups as |group|}}
            <option value={{group}}>{{group.name}}</option>
          {{/each}}
        </XSelect>
      {{else}}
        No groups in option list
      {{/if}}
    {{/if}}
    <button class="btn btn-xs btn-link" {{on "click" (fn this.clickedDeleteResult this.result)}}>
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
</li>
