<li class="ember-view">
 <div class="{{if this.condition.validator.isInvalid 'warning'}}">
    <span class="glyphicon glyphicon-move"></span>

    <input type="hidden" value={{this.condition.position}} class="condition-position"/>
    {{#if this.allFieldsReady}}
      <select class="form-control input-sm" {{on "change" this.conditionFieldChanged}}>
        <option>Choose Field...</option>
        {{#each this.allFields as |field|}}
          <option value={{field.id}} selected={{if (this.fieldService.eq field.id this.condition.field.id) "selected"
                                                   null}}>
            {{field.data_name}}
          </option>
        {{/each}}
      </select>
    {{else}}
      Loading
    {{/if}}

    <select class="form-control input-sm" {{on "change" this.conditionOperatorChanged}}>
      <option>Choose Operator...</option>
      {{#each this.availableOperators as |operator|}}
        <option value={{operator.value}} selected={{if (this.fieldService.eq operator.value this.condition.operator)
                                                       "selected"
                                                       null}}>
          {{operator.name}}
        </option>
      {{/each}}
    </select>

    {{#if this.useTextWidget}}
      <input type="text" class="form-control input-sm" value={{this.condition.value}}
             oninput={{this.conditionInputValueChanged}} >
    {{/if}}
    {{#if this.useSelectWidget}}
      <select class="form-control input-sm" {{on "change" this.conditionSelectValueChanged}}>
        <option>Choose Field...</option>
        {{#each this.fieldOptions as |fieldOption|}}
          <option value={{fieldOption.id}} selected={{if (this.fieldService.eq fieldOption.id this.selectValue)
                                                         "selected"
                                                         null}}>
            {{fieldOption.name}}
          </option>
        {{/each}}
      </select>

    {{/if}}
    {{#if this.useNoWidget}}checked{{/if}}

    <button class="btn btn-xs btn-link pull" {{on "click" (fn this.clickedDeleteCondition this.condition)}}>
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </div>
</li>
