{{#if @actualModel}}
  {{#if this.actualModel.model_class}}
    {{#let (concat "form/fields/" @actualModel.model_class) as |componentName|}}
      {{#if (component componentName)}}
        {{component componentName model=@actualModel}}
      {{else}}
        <div>Template for {{componentName}} not found.</div>
        <div>Check if the template exists and is correctly named.</div>
      {{/if}}
    {{/let}}
  {{else if @actualModel.field.model_class}}
    {{#let (concat "form/fields/" @actualModel.field.model_class) as |componentName|}}
      {{#if (component componentName)}}
        {{component componentName model=@actualModel}}
      {{else}}
        <div>Template for {{componentName}} not found.</div>
        <div>Check if the template exists and is correctly named.</div>
      {{/if}}
    {{/let}}
  {{else}}
    <div>No model_class found.</div>
  {{/if}}
{{else}}
  {{component "form/fields/index" }}
{{/if}}
