<!--templates/components/sortable-field.hbs -->

<div
  class="field-preview single-line-text form-group col-xs-12 item {{if this.isEditing "editing"}} {{if this.completeField.validator.isInvalid "warning"}}"
  {{on "click" this.handleClick}}
>
  <input type="hidden" value={{this.field.position}} class="position" />
  <ul class="controls list-inline">
    <li>
      <button class="btn btn-xs btn-link" {{on "click" (fn this.clickedDeleteField this.field this.completeField)}}>
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </li>
  </ul>

  {{#if this.completeField.data_name}}
    <span class="data-name">({{this.completeField.data_name}})</span>
  {{/if}}

  <div class="col-xs-6">
    {{#if this.showDisplayName}}
      <label>
        {{#if this.completeField.display_name}}
          {{{this.completeField.display_name}}}
        {{else}}
          <span class="empty">(Field Name)</span>
        {{/if}}
        {{#if this.completeField.required}}
          <span class="text-danger">*</span>
        {{/if}}
      </label>
    {{/if}}
    {{component this.previewComponent completeField=this.completeField}}
  </div>
</div>
