<div class="rule-sortable rule-list">
  {{#each @items as |rule|}}
    <SortableRule
      @rule={{rule}}
      @allFields={{this.allFields}}
      @onDeleteClick={{@onDeleteClick}}
      @onOrderInvalidated={{@onOrderInvalidated}}
      @onAddRuleClick={{@onAddRuleClick}}
      @onAddConditionClick={{@onAddConditionClick}}
      @onAddResultClick={{@onAddResultClick}}
    />
  {{else}}
    <div class="row">
      <div class="col-xs-12 no-records">
        <h4>This form doesn't have any rules</h4>
      </div>
    </div>
  {{/each}}
</div>
