<div class="rule-sortable rule-list ui-sortable">
  {{#each @items as |rule|}}
    <div class="field-preview single-line-text form-group col-xs-12 item ember-view">
      <SortableRule
        @rule={{rule}}
        @onAddRuleClick={{@onAddRuleClick}}
        @onDeleteRuleClick={{@onDeleteRuleClick}}
        @onAddConditionClick={{@onAddConditionClick}}
        @onDeleteConditionClick={{@onDeleteConditionClick}}
        @onAddResultClick={{@onAddResultClick}}
        @onDeleteResultClick={{@onDeleteResultClick}}
      />
    </div>
  {{else}}
    <div class="row">
      <div class="col-xs-12 no-records">
        <h4>This form doesn't have any rules</h4>
      </div>
    </div>
  {{/each}}
</div>
